.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 15px;
}

.no-results-found {
    color: #1d2d3e;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}