<ui5-card class="medium">
    <ui5-card-header
      slot="header"
      title-text="Catalog"
    >
    </ui5-card-header>
    <div class="card-content">
        <div class="flex-column samples-margin">
            <ui5-input
              id="searchInput"
              placeholder="Enter search criteria ..."
            >
              <ui5-icon id="searchIcon" slot="icon" name="search"></ui5-icon>
            </ui5-input>
          </div>
    </div>
</ui5-card>

<div>
  <ui5-card class="medium" *ngFor="let item of items">
    <div class="card-content">
      {{item.displayName}}
        <div class="flex-column samples-margin">
            {{item.description}}
        </div>
    </div>
</ui5-card>
</div>
