.chart-card {
  display: block;
  width: 30%;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
}

.price-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  ui5-title {
    margin-right: 2rem;
  }

  p {
    margin: 0;
    text-align: right;
  }
}

.txt-green {
  color: var(--sapIndicationColor_4_Background);
}

.txt-red {
  color: var(--sapIndicationColor_2_Background);
}
