<div class="catalog-container">
  <ui5-title level="H3">{{title}}</ui5-title>
  <div class="catalog-cards">
    <ui5-card class="catalog-card">
      <ui5-card-header slot="header"
                       title-text="Total VM Instances">
      </ui5-card-header>
      <div class="card-content">
        <app-doughnut-chart [data]="instanceData"></app-doughnut-chart>
      </div>
    </ui5-card>
    <ui5-card class="catalog-card">
      <ui5-card-header slot="header"
                       title-text="Total k8s Clusters">
      </ui5-card-header>
      <div class="card-content">
        <app-doughnut-chart [data]="clusterData"></app-doughnut-chart>
      </div>
    </ui5-card>
    <ui5-card class="catalog-card">
      <ui5-card-header slot="header"
                       title-text="Global Distribution Map">
      </ui5-card-header>
      <div class="card-content">
        <app-data-chart [data]="chartData" type="bar"></app-data-chart>
      </div>
    </ui5-card>
    <ui5-card class="catalog-card">
      <ui5-card-header slot="header" titleText="Number of activated services ({{dummyData?.length || 0}})"></ui5-card-header>
      <ui5-list separators="None" class="item-list">
        @for (item of dummyData; track item) {
          <ui5-li icon="product">{{item}}</ui5-li>
        }
      </ui5-list>
    </ui5-card>
  </div>
</div>
