.catalog-container {
  padding: 1rem;
}

.catalog-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1.3%;
  row-gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.catalog-card {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .catalog-card {
    width: 49%;
  }
}

@media only screen and (min-width: 1200px) {
  .catalog-card {
    width: 32%;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
  gap: 1rem;
}

.item-list {
  margin-block-end: 0.75rem;
}