<div class="catalog-container">
  <ui5-title level="H2">{{title}}</ui5-title>
  <div class="catalog-cards">
    <ui5-card class="chart-card">
      <ui5-card-header slot="header"
                       title-text="Project Cloud Transformation"
                       subtitle-text="Revenue | EUR">
      </ui5-card-header>
      <div class="card-content">
        <div class="price-details">
          <ui5-title level="H2" class="txt-red">65.34 &darr;</ui5-title>
          <p>Target <br>100K</p>
          <p>Deviation <br><span class="txt-red">34.7%</span></p>
        </div>
        <p><small>Q1, 2024</small></p>
        <app-data-chart [data]="chartData" [title]="'Line chart'" type="line"></app-data-chart>
      </div>
    </ui5-card>
    <ui5-card class="chart-card">
      <ui5-card-header slot="header"
                       title-text="Project Cloud Transformation"
                       subtitle-text="Revenue | EUR">
      </ui5-card-header>
      <div class="card-content">
        <div class="price-details">
          <ui5-title level="H2" class="txt-green">65.34 &uarr;</ui5-title>
          <p>Target <br>100K</p>
          <p>Deviation <br><span class="txt-green">34.7%</span></p>
        </div>
        <p><small>Q1, 2024</small></p>
        <app-data-chart [data]="chartData" [title]="'Bar chart'" type="bar"></app-data-chart>
      </div>
    </ui5-card>
    <ui5-card class="catalog-card">
      <ui5-card-header slot="header" titleText="Number of activated services ({{dummyData?.length || 0}})"></ui5-card-header>
      <ui5-list separators="None" class="item-list">
        @for (item of dummyData; track item) {
          <ui5-li>{{item}}</ui5-li>
        }
      </ui5-list>
    </ui5-card>
  </div>
</div>
