.as-container {
  padding: 1rem;
}

.as-headline {
  text-align: center;
}

.as-cards,
.as-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.as-cards {
  justify-content: flex-start;
  padding: 1rem 0;
}

.as-actions {
  justify-content: flex-end;
}
