<section class="as-container">
  <ui5-title level="H4"
             class="as-headline">
    Activated Services ({{services.length || 0}})
  </ui5-title>
  <ng-container *ngTemplateOutlet="parent && parent === 'root' && categories?.length ? rootServices : accountServices">
  </ng-container>
  @if (parent) {
    <p class="as-actions">
      <ui5-button icon="grid"
                  (click)="viewMarketplace()">
        Go to Marketplace
      </ui5-button>
    </p>
  }
</section>

<ng-template #rootServices>
  <div class="as-categories">
    @for (category of categories; track category) {
      @if (products[category] && products[category].length > 0) {
        <ui5-panel>
          <span slot="header">{{category}}</span>
          <ui5-list separators="None">
            @for (item of products[category]; track item) {
              <ui5-li icon="product">{{item}}</ui5-li>
            }
          </ui5-list>
        </ui5-panel>
      }
    }
  </div>
</ng-template>

<ng-template #accountServices>
  <div class="as-cards">
    @for (service of services; track service) {
      <ui5-card class="as-card">
        <ui5-card-header slot="header">
          <ui5-icon slot="avatar" name="product" class="card-icon"></ui5-icon>
        </ui5-card-header>
        <div class="card-content">
          <ui5-title level="H5">{{service['title']}}</ui5-title>
          @if (service['description']) {
            <ui5-text class="card-description">
              {{service['description']}}
            </ui5-text>
          }
          @if (service['categories']) {
            <div class="card-categories">
              <ui5-label>Category:</ui5-label>
              <ui5-label>{{service['categories']}}</ui5-label>
            </div>
          }
        </div>
      </ui5-card>
    }
  </div>
</ng-template>
