<ui5-dynamic-page id="header" class="header">
  <ui5-dynamic-page-title slot="titleArea" *ngIf="account$ | async as account">
    <ui5-breadcrumbs slot="breadcrumbs">
      <ui5-breadcrumbs-item>Accounts</ui5-breadcrumbs-item>
      <ui5-breadcrumbs-item>{{account.metadata.name}}</ui5-breadcrumbs-item>
    </ui5-breadcrumbs>
    <ui5-title slot="heading">{{account.spec.displayName !== "" ? account.spec.displayName : account.metadata.name}}
    </ui5-title>
    <p slot="subheading" class="text">{{account.spec.description}}</p>
    <ui5-toolbar class="actionsBar" id="actionsToolbar" slot="actionsBar" design="Transparent">
      <ui5-toolbar-button text="Download kubeconfig" icon="download-from-cloud" design="Emphasized" (click)="downloadKubeconfig()" ></ui5-toolbar-button>
    </ui5-toolbar>
  </ui5-dynamic-page-title>
  <ui5-dynamic-page-header slot="headerArea">
    <div class="header-container">
      <img alt="KCP" src="https://www.kcp.io/icons/logo.svg" class="header-image"/>
      <div class="header-container-cell">
        <ui5-label>Workspace Status</ui5-label>
        <p class="text cell-text">
          <ui5-icon name="accept" design="Positive"></ui5-icon>
          <ui5-text>Ready</ui5-text>
        </p>
      </div>
      <div class="header-container-cell">
        <ui5-label>Namespace</ui5-label>
        <p class="text cell-text">
          <ui5-icon name="accept" design="Positive"></ui5-icon>
          <ui5-text>Ready</ui5-text>
        </p>
      </div>
      <div class="header-container-cell">
        <ui5-label>Workspace Path</ui5-label>
        <p class="text cell-text">
          <ui5-text>{{kcpPath}}</ui5-text>
        </p>
      </div>

    </div>
  </ui5-dynamic-page-header>
</ui5-dynamic-page>
