<div class="container">
  <ui5-bar design="Subheader">
    <ui5-title slot="startContent">Account Overview</ui5-title>
    <ui5-button slot="endContent" design="Emphasized" (click)="downloadKubeconfig()">Download Kubeconfig</ui5-button>
  </ui5-bar>
  
  <ui5-card>
    <ui5-card-header slot="header" title-text="These are the HttpBins in your current account">
        <ui5-icon name="globe" slot="avatar"></ui5-icon>
    </ui5-card-header>
    <ui5-list separators="None" style="margin-block-end: 0.75rem;">
        <ui5-li *ngFor="let httpbin of httpbins$ | async" description="{{ httpbin.spec.foo}}">
          {{httpbin.metadata.name}}
        </ui5-li>
    </ui5-list>
  </ui5-card>
</div>