<ui5-card class="medium">
  <div class="card-content">
    @if (categoryTree && categoryTree.length > 0) {
      <div class="filter-headline">
        <div class="filter-title">
          <ui5-card-header slot="header" title-text="Catalog">
          </ui5-card-header>
          <span>
            (
              <a href="#category-tree" (click)="toggleFilterVisibility($event)">{{filtersVisible ? 'hide' : 'show'}} filters</a>
              @if (selectedCategories.length || selectedProviders.length) {
                / <a href="#category-tree" (click)="clearAllFilters($event)">clear filters</a>
              }
            )
          </span>
        </div>
        <div class="filter-search">
          <div class="catalog-filter">
            <ui5-input id="searchInput" placeholder="Enter search criteria ...">
              <ui5-icon id="searchIcon" slot="icon" name="search"></ui5-icon>
            </ui5-input>
          </div>
        </div>
      </div>
      <div id="category-tree" class="flex-row samples-margin catalog-categories" [class.is-visible]="filtersVisible">
        <ui5-card *ngFor="let cat of categoryTree" class="small category-card">
          <div class="category-label">
            <ui5-checkbox text="{{cat.name}}"
                          (change)="onCategoryChange($event, cat.name)">
            </ui5-checkbox>
          </div>
          <ul class="category-list">
            <li *ngFor="let provider of cat.providers" class="category-list-item">
              <ui5-checkbox text="{{provider}}"
                            (change)="onProviderChange($event, provider)">
              </ui5-checkbox>
            </li>
          </ul>
        </ui5-card>
      </div>
    }
    @else {
      <div class="filter-headline">
        <div class="filter-title">
          <ui5-card-header slot="header" title-text="Catalog">
          </ui5-card-header>
        </div>
        <div class="filter-search">
          <div class="catalog-filter">
            <ui5-input id="searchInput" placeholder="Enter search criteria ...">
              <ui5-icon id="searchIcon" slot="icon" name="search"></ui5-icon>
            </ui5-input>
          </div>
        </div>
      </div>
    }
  </div>
</ui5-card>
@if (fetchFinalized && filteredItems().length === 0) {
  <h3 class="no-results-found">No results found</h3>
}
@else {
  <app-catalog-card-list
    [context]="context"
    [items]="filteredItems().length ? filteredItems() : items()">
  </app-catalog-card-list>
}
