.content,
.content-group {
  display: flex;
  flex-direction: column;
  padding-block-end: 1rem;
}

.content-padding {
  padding: 0.5rem 1rem 0 1rem;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 22rem);
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.ui5-card {
    min-width: 250px;
}

.item-description {
    height: 60px;
    line-height: 15px;
    font-size: 14px;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

.item-provider {
    padding-bottom: 1rem;
    color: #0070f2;
}
