/* You can add global styles to this file, and also import other style files */
body {
    font-family: "72override", var(--sapFontFamily);
}

html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    padding: 1rem;
}